body
{
	background-image: url("display1.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#post
{
	background-color: white;
	opacity: 0.85;
	color:black;
	position: relative;
	left: 4%;
	right: 4%;
	width: 92%;
	padding: 15px;
	border-style: outset;
	border-width: 2px;
	border-color: black;
	border-radius: 15px;
}

#post_inner
{
	position: relative;
	width: 96%;
	padding:5px;
	border-style: solid;
	border-radius: 3px;
	border-color: black;
	border-width: 1px;
}

a.button {
    border: 1px solid #808080;
    background: #a0a0a0;
    display: inline-block;
    padding: 5px;
}